section.projectsComponent {
  width: 100vw;
  padding: 90px var(--padding);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    margin: 0 0 25px 0;

    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    line-height: 26px;
  }

  div.tags {
    z-index: 9;
    button {
      margin: 5px 5px 0px 0px;
      padding: 5px 10px;

      border-radius: 0;
      border: 1px solid #b1b1b1;
      font-size: 12px;
      text-transform: uppercase;
      background: var(--white);

      cursor: pointer;

      z-index: 999;

      transition: all ease 200ms;

      &:active {
        opacity: 0.2;
      }

      &.activated {
        border: 1px solid var(--primary);
        background: var(--primary);
        box-shadow: 4px 4px 5px #ddd;
      }
    }
  }

  div.items {
    width: 100%;
    margin-top: 45px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    button {
      position: relative;
      width: 200px;
      height: 250px;

      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--white);
      border-radius: 1px;
      border: none;
      box-shadow: 4px 4px 5px #ddd;

      overflow: hidden;

      cursor: pointer;

      img {
        width: 100%;
        height: auto;

        transition: all ease 200ms;

        color: var(--black);

        &:hover {
          width: 120%;
        }
      }

      div {
        display: none;
        position: absolute;
        top: 0;

        width: 100%;
        height: 30px;

        align-items: center;
        justify-content: center;

        background: rgba(07, 07, 07, 0.8);
        transition: all ease 200ms;
      }

      &:hover {
        div.info {
          position: absolute;
          bottom: 0;

          width: 100%;
          height: 60px;
          padding: 3px;

          background: #fff;
        }

        div {
          display: flex;
        }
      }

      div.info {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      div.items {
        grid-template-columns: repeat(3, 1fr);

        button > div {
          display: flex;
        }
      }
    }
  }

  @media (max-width: 736px) {
    &.projectsComponent {
      height: auto;
      padding: 60px var(--padding);

      justify-content: center;
      align-items: center;

      div.tags {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
      }

      div.items {
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        button {
          width: 100%;
          height: 320px;
        }
      }
    }
  }
}
