section.cvComponent {
  scroll-snap-align: center;
  width: 100vw;
  margin: 25px 0 0 0;

  display: flex;
  align-items: center;
  justify-content: center;

  a.cv {
    width: 215px;
    height: 55px;

    background: var(--white);
    border: 2px solid var(--black);
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
    transition: all ease 200ms;

    z-index: 2;

    &:hover {
      background: var(--primary);
      color: var(--white);
      border-color: var(--primary);
    }
  }
}
