.headerComponent {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100vw;
  height: 10vh;
  padding: 0 var(--padding);

  background: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    font-size: 24px;
    font-family: "Signika", sans-serif;
    color: var(--primary);
    cursor: default;
  }

  button.hamburguer {
    display: none;
  }

  nav {
    height: 100%;
    ul {
      height: 100%;

      display: flex;
      align-items: center;

      a {
        height: 100%;

        li {
          position: relative;

          padding: 0 15px;
          height: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;

          font-size: 22px;
          font-weight: 300;
          list-style: none;
          color: var(--white);
          cursor: pointer;

          span.borderBottom {
            position: absolute;
            bottom: 0;
            left: 0;

            width: 0%;
            height: 2px;

            background: var(--primary);

            transition: width ease-in-out 200ms;
          }

          &:hover {
            span.borderBottom {
              position: absolute;
              bottom: 0;
              left: 0;

              width: 100%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    button.hamburguer {
      display: block;
      background: none;
      border-radius: 0;
      font-size: 0;
      border: 1px solid var(--primary);
      cursor: pointer;
    }
    nav {
      display: none;

      &.activated {
        display: block;

        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;

        padding: 0 var(--padding);
        width: 100%;
        height: auto;

        border-top: 2px solid var(--primary);
        background: rgba(0, 0, 0, 0.8);

        overflow: hidden;

        ul {
          padding: 0 5px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          a {
            li {
              padding: 5px;

              display: flex;
              align-items: center;
              justify-content: center;

              span {
                display: none;
              }

              &:hover {
                color: var(--primary);
              }
            }
          }
        }
      }
    }
  }
}
