div.projectPage {
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;

  overflow: hidden;

  section.containerSection {
    position: relative;

    button.goBack {
      position: absolute;
      top: 14vh;
      right: var(--padding);
      z-index: 99;

      padding: 5px 10px;

      display: flex;
      align-items: center;
      justify-content: space-between;

      color: var(--gray100);
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      border: none;
      background: var(--primary);
      box-shadow: 2px 2px 5px #ddd;
      cursor: pointer;
    }
  }
}
