:root {
  --primary: #34d1bf;
  --black: #070707;
  --white: #efefef;
  --gray: #202020;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif, -apple-system;
  color: var(--black);
  background: var(--white);
}
