section.bannerComponent {
  scroll-snap-align: center;
  position: relative;

  height: 100vh;

  background: url(../../assets/banner.jpg);
  background-attachment: fixed;
  object-fit: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  p {
    width: 1024px;

    text-align: center;
    color: var(--primary);
    font-size: 56px;
    text-transform: uppercase;

    strong {
      font-weight: 700;
    }

    z-index: 4;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.9);
    opacity: 1;
  }

  button.goDown {
    position: absolute;
    bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;

    z-index: 99;

    transition: all ease 200ms;

    &:active {
      opacity: 0.6;
    }

    p {
      font-weight: 300;
      font-size: 32px;
      color: var(--white);
    }
  }

  @media (max-width: 736px) {
    p {
      width: 80%;
      font-size: 32px;
    }

    button.goDown {
      bottom: 20px;
      p {
        font-size: 18px;
      }
    }
  }
}
